<div class="row">
  <div class="col-md-12 col-sm-12 ">
    <div class="x_panel">
      
      <% if @user.errors.any? %>
      <div class="card bg-danger text-white shadow">
          <div class="card-body">
              Erros
              <div class="text-white-50 small">
                <ul>
                  <% @user.errors.full_messages.each do |message|  %>
                    <li><%= message %></li>
                  <% end %>
                </ul>
              </div>
          </div>
      </div>
      <% end %>

      <div class="x_title">
        <h2>Dados do Perfil</h2>
        <ul class="nav navbar-right panel_toolbox">
          <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
          </li>
        </ul>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <br>
        <%= form_with(url: users_backoffice_profile_path, model: @user, local: true, class:"form-horizontal form-label-left") do |form| %>

          <div class="item form-group">
            <%= form.label :first_name, class:"col-form-label col-md-3 col-sm-3 label-align" %>
            <div class="col-md-6 col-sm-6 ">
              <%= form.text_field :first_name, class:"form-control ", placeholder:"Digite o primeiro nome" %>
            </div>
          </div>

          <div class="item form-group">
            <%= form.label :last_name, class:"col-form-label col-md-3 col-sm-3 label-align" %>
            <div class="col-md-6 col-sm-6 ">
              <%= form.text_field :last_name, class:"form-control ", placeholder:"Digite o sobrenome" %>
            </div>
          </div>

          <div class="item form-group">
            <%= form.label :email, class:"col-form-label col-md-3 col-sm-3 label-align" %>
            <div class="col-md-6 col-sm-6 ">
              <%= form.text_field :email, class:"form-control ", readonly: true %>
            </div>
          </div>



          <%= form.fields_for :user_profile do |profile_form| %>
            <div class="item form-group">
              <%= profile_form.label :zip_code, class:"col-form-label col-md-3 col-sm-3 label-align" %>
              <div class="col-md-6 col-sm-6 ">
    <div class="input-group">
      <%= profile_form.text_field :zip_code, class:"form-control"%>
      <span class="input-group-btn">
        <%= link_to "Buscar CEP", users_backoffice_zip_code_path, remote: true, class:"btn btn-primary", id: 'zip-code-link' %>
      </span>
    </div>
              </div>
            </div>

<script>
  var zip_code_link = document.getElementById("zip-code-link");
  let zip_code_input = document.getElementById("user_user_profile_attributes_zip_code");
  zip_code_input.addEventListener("change", function () {
    zip_code_link.href = '<%= users_backoffice_zip_code_path %>/?zip_code=' + zip_code_input.value;
  });
</script>

            <div class="item form-group">
              <%= profile_form.label :address, class:"col-form-label col-md-3 col-sm-3 label-align" %>
              <div class="col-md-6 col-sm-6 ">
                <%= profile_form.text_field :address, class:"form-control ", placeholder:"Digite o endereço" %>
              </div>
            </div>

            <div class="item form-group">
              <%= profile_form.label :gender, class:"col-form-label col-md-3 col-sm-3 label-align" %>
              <div class="col-md-6 col-sm-6 ">
                <%= profile_form.text_field :gender, class:"form-control ", placeholder:"Digite o sexo" %>
              </div>
            </div>
            <div class="item form-group">
              <%= profile_form.label :gender, class:"col-form-label col-md-3 col-sm-3 label-align" %>
              <div class="col-md-6 col-sm-6 ">
                <div id="gender" class="btn-group" data-toggle="buttons">
                  <label class="btn <%= gender_select(@user, 'M') %>" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                    <%= profile_form.radio_button :gender, "M", class:"join-btn", "data-parsley-multiple":"gender", "data-parsley-id":"12" %> Masculino
                  </label>
                  <label class="btn <%= gender_select(@user, 'F') %>" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                    <%= profile_form.radio_button :gender, "F", class:"join-btn", "data-parsley-multiple":"gender", "data-parsley-id":"12" %> Feminino
                  </label>
                </div>
              </div>
            </div>

            <div class="item form-group">
              <%= profile_form.label :birthdate, class:"col-form-label col-md-3 col-sm-3 label-align" %>
              <div class="col-md-6 col-sm-6 ">
                <%= profile_form.date_field :birthdate, class:"form-control ", placeholder:"Digite a data de nascimento" %>
              </div>
            </div>
          <% end %>

          <div class="item form-group">
            <%= form.label :password, class:"col-form-label col-md-3 col-sm-3 label-align" %>
            <div class="col-md-6 col-sm-6 ">
              <%= form.password_field :password, class:"form-control ", placeholder:"Digite a senha" %>
            </div>
          </div>

          <div class="item form-group">
            <%= form.label :password_confirmation, class:"col-form-label col-md-3 col-sm-3 label-align" %>
            <div class="col-md-6 col-sm-6 ">
              <%= form.password_field :password_confirmation, class:"form-control ", placeholder:"Confirme a senha" %>
            </div>
          </div>


          <div class="ln_solid"></div>
          <div class="item form-group">
            <div class="col-md-6 col-sm-6 offset-md-3">
              <button class="btn btn-primary" type="reset">Reset</button>
              <button type="submit" class="btn btn-success">Enviar</button>
            </div>
          </div>

        <% end %>
      </div>
    </div>
  </div>
</div>