$('#profile_avatar').modal('hide');

document.getElementById("imgAvatarLg").src="<%= url_for(@user.user_profile.avatar)%>";
document.getElementById("imgAvatarMd").src="<%= url_for(@user.user_profile.avatar)%>";
document.getElementById("imgAvatarSm").src="<%= url_for(@user.user_profile.avatar)%>";

$.bootstrapGrowl('Avatar atualizado com sucesso!', {
 type: 'success',
 align: 'right',
 allow_dismiss: true,
 stackup_spacing: 10
});
