<h1><%= t('messages.listing', model: @questions.model_name.human(count: 2)) %></h1>

<table class="table table-bordered dataTable" id="dataTable" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">
  <thead>
      <tr role="row">
        <th class="sorting_asc" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending">#</th>
        <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" ><%= translate_attribute(@questions, :subject) %></th>
        <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" ><%= translate_attribute(@questions, :description) %></th>
        <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" >
          <%= link_to new_admins_backoffice_question_path, class:"btn btn-success btn-circle btn-sm" do %>
            <i class="fas fa-plus"></i>
          <% end %>        
        </th>
      </tr>
  </thead>
  <tbody> 
    <%@questions.each do |question| %>                                       
      <tr role="row" class="odd">
        <td><%= question.id %></td>
        <td><%= question.subject.description %></td>
        <td><%= sanitize question.description.truncate(50) %></td>
        <td>
          <%= link_to edit_admins_backoffice_question_path(question.id), class:"btn btn-info btn-circle btn-sm" do %>
            <i class="fas fa-edit"></i>
          <% end %>
          <%= link_to admins_backoffice_question_path(question.id), method: :delete, class:"btn btn-danger btn-circle btn-sm", data: {confirm: t('messages.confirm_with', item: question.description.truncate(15))} do %>
            <i class="fas fa-trash"></i>
          <% end %>
        </td>
      </tr>
    <% end %>
    </tbody>
</table>
<%= paginate@questions %>
