
    <div>
      <div class="login_wrapper">
        <div class="animate form login_form">
          <section class="login_content">
            <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
              <h1>Login de Usuário</h1>
              <div>
                <%= f.email_field :email, autofocus: true, placeholder:"Email", class:"form-control" %>
              </div>
              <div>
                <%= f.password_field :password, placeholder:"Senha", class:"form-control" %>
              </div>

              <% if devise_mapping.rememberable? %>
                <div>
                  <%= f.check_box :remember_me %>
                  <%= f.label :remember_me %>
                </div>
              <% end %>

              <div>
                <%= f.submit "Login", class:"btn btn-default submit" %>
                <%= link_to "Esqueceu a senha?", new_user_password_path, class:"reset_pass" %>
              </div>

              <%# render "users/shared/links" %>

              <div class="clearfix"></div>

              <div class="separator">
                <!--
                <p class="change_link">Novo no site?
                  <a href="#signup" class="to_register"> Cadastre-se </a>
                </p>
                -->
                <%= render 'layouts/menu' %>

                <div class="clearfix"></div>
                <br />

                <div>
                  <h1><i class="fa fa-paw"></i> Gentelella Alela!</h1>
                  <p>©2016 All Rights Reserved. Gentelella Alela! is a Bootstrap 3 template. Privacy and Terms</p>
                </div>
              </div>
            <% end %>
          </section>
        </div>



      </div>
    </div>
