<h1><%= action_message %> questão</h1>
<div class="col-lg-6">
  <% if @question.errors.any? %>
  <div class="card bg-danger text-white shadow">
      <div class="card-body">
          Erros
          <div class="text-white-50 small">
            <ul>
              <% @question.errors.full_messages.each do |message|  %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
      </div>
  </div>
  <% end %>
  <div class="p-5">
    <%= form_with(model: [ :admins_backoffice, @question ], local: true, class:"user") do |form| %>
      <div class="form-group">
        <%= form.hidden_field :description, class:"form-control form-control-user", placeholder:"Digite a questão" %>
        <trix-editor input="question_description"></trix-editor>
      </div>
      <div class="form-group">
        <%= form.collection_select(:subject_id, @subjects, :id, :description, {}, {class:"custom-select custom-select-sm form-control form-control-sm"}) %>
      </div>

      <div id='answers'>
        <%= form.fields_for :answers do |answer| %>
          <%= render partial: 'answer_fields', locals: { f: answer } %>
        <% end %>
        <%= link_to_add_association '[Adicionar resposta]', form, :answers %>
      </div>

      <div class="form-group">
          <input type="submit" value='Salvar' class="btn btn-primary btn-user btn-block" >
      </div>
    <% end %>
  </div>
</div>