<h1>Seja bem vindo</h1>
<div class="animated flipInY col-lg-3 col-md-3 col-sm-6 ">
  <div class="tile-stats">
    <div class="icon"><i class="fa fa-comments-o"></i></div>
    <div class="count"><%= @user_statistic.total_questions %></div>
    <h3>Total</h3>
    <p>Lorem ipsum psdea itgum rixt.</p>
  </div>
</div>
<div class="animated flipInY col-lg-3 col-md-3 col-sm-6 ">
  <div class="tile-stats">
    <div class="icon"><i class="fa fa-check-square-o"></i></div>
    <div class="count"><%= @user_statistic.right_questions %></div>
    <h3>Corretas</h3>
    <p>Lorem ipsum psdea itgum rixt.</p>
  </div>
</div>
<div class="animated flipInY col-lg-3 col-md-3 col-sm-6 ">
  <div class="tile-stats">
    <div class="icon"><i class="fa fa-close"></i></div>
    <div class="count"><%= @user_statistic.wrong_questions %></div>
    <h3>Erradas</h3>
    <p>Lorem ipsum psdea itgum rixt.</p>
  </div>
</div>