
<!-- Outer Row -->
<div class="row justify-content-center">

    <div class="col-xl-10 col-lg-12 col-md-9">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                    <div class="col-lg-6">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Login Administrativo</h1>
                            </div>
                            <%= form_for(resource, as: resource_name, url: session_path(resource_name), class:"user") do |f| %>
                                <div class="form-group">
                                  <%= f.email_field :email, autofocus: true, placeholder:"Email", class:"form-control form-control-user" %>
                                </div>
                                <div class="form-group">
                                  <%= f.password_field :password, placeholder:"Senha", class:"form-control form-control-user" %>
                                </div>

                                <% if devise_mapping.rememberable? %>
                                  <div class="form-group">
                                    <div class="custom-control custom-checkbox small">
                                      <%= f.check_box :remember_me, class:"custom-control-input" %>
                                      <%= f.label :remember_me, class:"custom-control-label" %>
                                    </div>
                                  </div>
                                <% end %>

                                <%= f.submit "Login", class:"btn btn-primary btn-user btn-block" %>
                                <hr>
                                <a href="index.html" class="btn btn-google btn-user btn-block">
                                    <i class="fab fa-google fa-fw"></i> Login com Google
                                </a>
                                <a href="index.html" class="btn btn-facebook btn-user btn-block">
                                    <i class="fab fa-facebook-f fa-fw"></i> Login com Facebook
                                </a>
                            <% end %>
                            <hr>
                            <div class="text-center">
                                <!-- <a class="small" href="forgot-password.html">Esqueceu a senha?</a> -->
                                <%= render 'layouts/menu' %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>
<%# render "admins/shared/links" %>