
    <div>
      <div class="login_wrapper">
        <div class="animate form login_form">
          <section class="login_content">
            <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
              <%= f.hidden_field :reset_password_token %>
              <h1>Altere sua senha</h1>

              <div>
                <%= f.password_field :password, placeholder:"Senha", class:"form-control" %>
              </div>
              <div>
                <%= f.password_field :password_confirmation, placeholder:"Confirmação de Senha", class:"form-control" %>
              </div>
              <div>
                <%= f.submit "Alterar senha", class:"btn btn-default submit" %>
              </div>

              <%# render "users/shared/links" %>

              <div class="clearfix"></div>

              <div class="separator">
                <!--
                <p class="change_link">Novo no site?
                  <a href="#signup" class="to_register"> Cadastre-se </a>
                </p>
                -->
                <%= render 'layouts/menu' %>

                <div class="clearfix"></div>
                <br />

                <div>
                  <h1><i class="fa fa-paw"></i> Gentelella Alela!</h1>
                  <p>©2016 All Rights Reserved. Gentelella Alela! is a Bootstrap 3 template. Privacy and Terms</p>
                </div>
              </div>
            <% end %>
          </section>
        </div>



      </div>
    </div>
