<h1>Assuntos</h1>

<table class="table table-bordered dataTable" id="dataTable" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">
  <thead>
      <tr role="row">
        <th class="sorting_asc" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending">#</th>
        <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" ><%= translate_attribute(@subjects, :description) %></th>
        <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" >
          <%= link_to new_admins_backoffice_subject_path, class:"btn btn-success btn-circle btn-sm" do %>
            <i class="fas fa-plus"></i>
          <% end %>        
          <%= link_to admins_backoffice_subjects_path(format: :pdf), class:"btn btn-danger btn-circle btn-sm", title:"PDF" do %>
            <i class="fas fa-file-pdf-o"></i>
          <% end %>        
        </th>
      </tr>
  </thead>
  <tbody> 
    <% @subjects.each do |subject| %>                                       
      <tr role="row" class="odd">
        <td><%= subject.id %></td>
        <td><%= subject.description %></td>
        <td>
          <%= link_to edit_admins_backoffice_subject_path(subject.id), class:"btn btn-info btn-circle btn-sm" do %>
            <i class="fas fa-edit"></i>
          <% end %>
          <%= link_to admins_backoffice_subject_path(subject.id), method: :delete, class:"btn btn-danger btn-circle btn-sm", data: {confirm: "Deseja realmente excluir?"} do %>
            <i class="fas fa-trash"></i>
          <% end %>
        </td>
      </tr>
    <% end %>
    </tbody>
</table>
<%= paginate @subjects %>
