<h1>Administradores</h1>

<table class="table table-bordered dataTable" id="dataTable" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">
  <thead>
      <tr role="row">
        <th class="sorting_asc" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending">#</th>
        <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" ><%= translate_attribute(@admins, :email) %></th>
        <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" >
          <%= link_to new_admins_backoffice_admin_path, class:"btn btn-success btn-circle btn-sm" do %>
            <i class="fas fa-plus"></i>
          <% end %>        
        </th>
      </tr>
  </thead>
  <tbody> 
    <% @admins.each do |admin| %>                                       
      <tr role="row" class="odd">
        <td><%= admin.id %></td>
        <td><%= admin.email %></td>
        <td>
          <%= link_to edit_admins_backoffice_admin_path(admin.id), class:"btn btn-info btn-circle btn-sm" do %>
            <i class="fas fa-edit"></i>
          <% end %>
          <%= link_to admins_backoffice_admin_path(admin.id), method: :delete, class:"btn btn-danger btn-circle btn-sm", data: {confirm: "Deseja realmente excluir?"} do %>
            <i class="fas fa-trash"></i>
          <% end %>
        </td>
      </tr>
    <% end %>
    </tbody>
</table>
<%= paginate @admins %>
