<h1><%= action_message %> assunto</h1>
<div class="col-lg-6">
  <% if @subject.errors.any? %>
  <div class="card bg-danger text-white shadow">
      <div class="card-body">
          Erros
          <div class="text-white-50 small">
            <ul>
              <% @subject.errors.full_messages.each do |message|  %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
      </div>
  </div>
  <% end %>
  <div class="p-5">
    <%= form_with(model: [ :admins_backoffice, @subject ], local: true, class:"user") do |form| %>
      <div class="form-group">
        <%= form.text_field :description, class:"form-control form-control-user", placeholder:"Digite o assunto", aria:{describedby:"emailHelp"} %>
      </div>
      <div class="form-group">
          <input type="submit" value='Salvar' class="btn btn-primary btn-user btn-block" >
      </div>
    <% end %>
  </div>
</div>