<ul style="list-style-type: none;">
<li><%= link_to 'Home', root_path %></li>
<li><%= link_to 'Admin Backoffice', admins_backoffice_welcome_index_path %></li>
<li><%= link_to 'User Backoffice', users_backoffice_welcome_index_path %></li>
</ul> 