<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>TimeToAnswer</title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application' %>
    <%= stylesheet_link_tag    'admin_devise' %>
    <%= stylesheet_link_tag    "https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" %>


</head>

<body class="bg-gradient-primary">

    <div class="container">

    
    <%= yield %>

    </div>

    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag 'admin_devise' %>



    <%= javascript_tag do %>
        <% if flash %>
          <% flash.each do |key, value| %>
          $.bootstrapGrowl("<%= value %>", {
          type: 'danger', // (null, 'info', 'error', 'success')
          offset: {from: 'top', amount: 80}, // 'top', or 'bottom'
          align: 'right', // ('left', 'right', or 'center')
          allow_dismiss: true,
          stackup_spacing: 10 // spacing between consecutively stacked growls.
          });
          <% end %>
        <% end %>
    <% end %>

</body>

</html>