<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <link rel="icon" href="../../favicon.ico">

    <title>TimeToAnswer</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application' %>
    <%= stylesheet_link_tag    'site' %>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script> 
    <![endif]-->
  </head>

  <body>

    <div class="container">

      <!-- Static navbar -->
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <%= link_to root_path, class:"navbar-brand" do %>
              <i class="fa fa-paw"></i> <span>Time To Answer</span>
            <% end %>
          </div>
          <div id="navbar" class="navbar-collapse collapse">

          <%= form_with(url: site_search_path, local: true, method: :get, class:"navbar-form navbar-left") do |form| %>
            <div class="form-group">
              <%= form.text_field :term, class:"form-control", placeholder:"Digite algo..." %>
            </div>
            <button type="submit" class="btn btn-default">Pesquisar</button>
          <% end %>


            <ul class="nav navbar-nav navbar-right">
              <li><%= link_to 'Admin', admins_backoffice_welcome_index_path %></li>
              <% unless user_signed_in? %>
              <li><%= link_to 'Entrar', new_user_session_path %></li>
              <li><%= link_to 'Cadastra-se', new_user_registration_path %></li>
              <% else %>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= current_user.email %><span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><%= link_to 'Perfil', users_backoffice_welcome_index_path %></li>
                  <li role="separator" class="divider"></li>
                  <li><%= link_to 'Sair', destroy_user_session_path, method: :delete %></li>
                </ul>
              </li>
              <% end %>
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </nav>

      <%= yield %>

    </div> <!-- /container -->

    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag 'site' %>
    <%= javascript_tag do %>
        <% if notice %>
        $.bootstrapGrowl("<%= notice %>", {
        type: 'success', // (null, 'info', 'error', 'success')
        offset: {from: 'top', amount: 80}, // 'top', or 'bottom'
        align: 'right', // ('left', 'right', or 'center')
        allow_dismiss: true,
        stackup_spacing: 10 // spacing between consecutively stacked growls.
        });
        <% end %>
    <% end %>

  </body>
</html>