<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>TimeToAnswer</title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application' %>
    <%= stylesheet_link_tag    'user_devise' %>
  </head>

  <body class="login">
    <%= yield %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag 'user_devise' %>
    <%= javascript_tag do %>
      <% if flash %>
        <% flash.each do |key, value| %>
        $.bootstrapGrowl("<%= value %>", {
        type: 'danger', // (null, 'info', 'error', 'success')
        offset: {from: 'top', amount: 80}, // 'top', or 'bottom'
        align: 'right', // ('left', 'right', or 'center')
        allow_dismiss: true,
        stackup_spacing: 10 // spacing between consecutively stacked growls.
        });
        <% end %>
      <% end %>
    <% end %>
</body>
</html>
